.centered_text {
	text-align: center;
}

.center_header {
	text-align: center;
}

.flex_center {
	align-self: center;
}

.go_flex_centered {
	display: flex;
	justify-content: center;
}

.list_holder {
	margin: 1rem;
	font-style: normal;
	font-weight: bold;
}

.margin_little {
	margin: 1rem;
}
